.dados-container{
    width: 100vw;
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-content: center;
    justify-content:space-evenly;
}
.inp{
    padding:20px 0;
}
._valor{
    display: block;
    border-bottom:solid 2px;
    font-size: 14px;
    color: rgb(151, 150, 150);
    width: 350px;
    font-weight: 400;
}
.short_valor{
    padding: 0 5px;
    border-bottom:solid 2px;
    font-size: 14px;
    color: rgb(151, 150, 150);
    font-weight: 400;
}
#cancela{
    display: none;
    background: rgb(116, 0, 0);
    margin: auto 0 0 auto;
    grid-column-start: 2;  
}
#hin{
    margin-right: 6px;
}
#obscon{
    grid-column-start: 1;
    grid-column-end: 3;
}
@media screen and (max-width:800px){
    .dados-container{
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
    } 
    ._valor{
        width: 260px;
    }
}
@media screen and (max-width:600px){
    .novasub-container{
        display:flex;
        flex-direction: column;
    }
    #titulo{
        margin: auto;
    }
    .dados-container{
        grid-template-columns: repeat(1, auto);
        width: auto;
        justify-content:center;
        align-items: center;
    } 
    .valor{
        width: 300px;
    }
    #cancela{
        grid-column-start: 1;  
    }
    
}