header {
    width: 100vw;
    height: 90px;
    border-bottom:1px solid;
    border-color: rgba(51, 160, 72, 1);
}
#logoif {
    width:230px;
    height: 100%;
}
#user{
    width: 35px;
}
#login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: right;
    width: 100px;
    height: 100%;
}
